body {
    color: #cccccc;
    font-family: Monospace;
    font-size: 13px;
    text-align: center;
    background-color: #050505;
    margin: 0px;
    overflow: hidden;
}

#info {
    position: absolute;
    top: 0px;
    width: 100%;
    padding: 5px;
}

#description {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 5px;
}

a {
    color: #0080ff;
}
